body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, section, footer {
    margin: 20px auto;
    padding: 10px;
    max-width: 900px;
    background: white;
    box-shadow: 0 0 10px #1a3957(249, 54, 54, 0.1);
}

h1, h2 {
    color: #005f73;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav ul {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #0077b6;
}

a:hover {
    color: #00a8e8;
}

footer a {
    color: #0077b6;
}
